---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <div class="page">
    <h1>About</h1>
    <p>
      Canopée is a collaboration between 3 multi-disciplinary artists, 
      ali (<a href="https://www.instagram.com/friday.aiff/" target="_blank" rel="noopener">friday</a>), 
      nate (<a href="https://www.instagram.com/xoxoxo.dawny/" target="_blank" rel="noopener">dawny</a>) 
      & vanessa (<a href="https://www.instagram.com/wiltbarn/" target="_blank" rel="noopener">wiltbarn</a>). 
      We organize club-nights, all-night events, each & all with a unique theme that translates into the decor, the music & the outfits! 
      We are DIYers & got hands that yearn to make, we love a well-decorated party ;)
    </p>
    
    <p>
      we want a safe space for expression for ourselves & our friends,
      and a space curated by queer people for queer people. 
      The collective also aims to combine different art media at our events, we use each event to showcase our craft skills,
       create a memorable visual & musical experience while shpowcasing local talent. 
    </p>
    
    <p>
      we are collaborating to build a soundsystem, with true soundsystem roots, goals & music:
      to share the good vibrations at each of our events. The profits from each event will go towards 
      building, improving & making the soundsystem more accessible to all.
    </p>


    <p>
      Under "Show More", you can check out more about our projects (being added regularly!) <br>
      This website is built using Astro & <a href="https://github.com/dennisklappe/astro-theme-terminal">Astro Terminal Theme</a>
    </p>
  </div>
</BaseLayout>

<style>
  .page {
    max-width: 760px;
    margin: 0 auto;
  }
</style>